extends layout.jade
block css
  link(rel="stylesheet" href="/stylesheets/style.css")
block content
  #container.container.margin-bottom-8x
    -var server_path = 'https://esimgserver.s3.amazonaws.com/'
    -var folder_path = server_path + result._id+'/'
    -var processPhotoData = function( onelist) {
    -   var tbr = []
    -   onelist.forEach( function (element, index, ar){
    -     tbr.push({"image":folder_path+element, "thumb":folder_path+element});
    -   });
    -   return JSON.stringify(tbr)}

    -var stringifyUsefulInfo = function(){
    -  var temp = {};
    -  temp.db_id = result._id;
    -  return JSON.stringify(temp);
    -}
    -function returnPrice(){return (result.unit_traits.price_single)?result.unit_traits.price_single:100 };
    meta#page_useful_info(name="page_useful_info" content=stringifyUsefulInfo())
    meta#photo-data-modal(name="photo-data-modal" content="#{processPhotoData(result.listing_related.images)}")
    h1 Dropzone.js demo for "uploading to Amazon S3 cloud"
    div#dropzone-container
      #actions.row
        .col-lg-7
          // The fileinput-button span is used to style the file input field as button
          span.btn.btn-success.fileinput-button
            i.glyphicon.glyphicon-plus.margin-left-right-1x
            span Add files...
          button.btn.btn-primary.start(type='submit')
            i.glyphicon.glyphicon-upload.margin-left-right-1x
            span Start upload
          button.btn.btn-warning.cancel(type='reset')
            i.glyphicon.glyphicon-ban-circle.margin-left-right-1x
            span Cancel upload
        .col-lg-5
          // The global file processing state
          span.fileupload-process
            #total-progress.progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
              .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
      //- following div will be used to hold previews
      #previews.previews-container
block js-addons
  //- Dropzone 
  script(src="/plugins/dropzone/dropzone.js")
  //- Following is for layout small animation control
  script(src="/javascripts/layout_control.js")