doctype html
html
  head
    title= title
    meta( charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Latest compiled and minified CSS 
    link(rel="stylesheet" href="/stylesheets/yeti_bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/fa/css/font-awesome.min.css")
    block css
      
    //- link(rel="stylesheet" href="/stylesheets/specific_01.css")
    

  body
    include ./includes/navbar.jade
    
    block content

    //-bascially obtained from velocity template
    footer.footer
      .footer-content
        .container
          .row
            .footer-col.links.col-md-2.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title About us
                ul.standard-list
                  li
                    i.fa.fa-caret-right
                    a(href='#') Who we are
                  li
                    i.fa.fa-caret-right
                    a(href='#') Press
                  li
                    i.fa.fa-caret-right
                    a(href='#') Blog
                  li
                    i.fa.fa-caret-right
                    a(href='#') Jobs
                  li
                    i.fa.fa-caret-right
                    a(href='#') Contact us
              //footer-col-inner
            //foooter-col
            .footer-col.links.col-md-2.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title Product
                ul.standard-list
                  li
                    i.fa.fa-caret-right
                    a(href='#') How it works
                  li
                    i.fa.fa-caret-right
                    a(href='#') API
                  li
                    i.fa.fa-caret-right
                    a(href='#') Download Apps
                  li
                    i.fa.fa-caret-right
                    a(href='#') pricing
              //footer-col-inner
            //foooter-col
            .footer-col.links.col-md-2.col-sm-4.col-xs-12.sm-break
              .footer-col-inner
                h3.title Support
                ul.standard-list
                  li
                    i.fa.fa-caret-right
                    a(href='#') Help
                  li
                    i.fa.fa-caret-right
                    a(href='#') Documentation
                  li
                    i.fa.fa-caret-right
                    a(href='#') Terms of service
                  li
                    i.fa.fa-caret-right
                    a(href='#') Privacy
              //footer-col-inner
            //foooter-col
            .footer-col.connect.col-md-6.col-sm-12.col-xs-12
              .footer-col-inner
                ul.social.standard-list.standard-list-horizontal
                  li
                    a(href='https://twitter.com/3rdwave_themes', target='_blank')
                      i.fa.fa-twitter.fa-lg
                  li
                    a(href='#')
                      i.fa.fa-facebook.fa-lg
                  li
                    a(href='#')
                      i.fa.fa-google-plus.fa-lg
                  li
                    a(href='#')
                      i.fa.fa-instagram.fa-lg
                  li.row-end
                    a(href='#')
                      i.fa.fa-rss.fa-lg
                .form-container
                  h4.intro Stay up to date with the latest news and offers from Easysublease.com
                // //subscription-form
              // //footer-col-inner
            // //foooter-col
            .clearfix
          // //row
          hr
          .row
            .footer-col.download.col-md-6.col-sm-12.col-xs-12
              .footer-col-inner
                h3.title Mobile apps
                ul.standard-list.download-list
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-apple
                      span.text Download for iOS
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-android
                      span.text Download for Android
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-windows
                      span.text Windows coming soon...
              // //footer-col-inner
            // //download
            .footer-col.contact.col-md-6.col-sm-12.col-xs-12
              .footer-col-inner
                h3.title Contact us
                p.adr.clearfix
                  i.fa.fa-map-marker.fa-lg.margin-left-right-1x.pull-left
                  span.adr-group.pull-left
                    span.street-address 2701 Longmire Dr
                    br
                    span.region College Station, TX
                    br
                    span.postal-code 77840
                    br
                    span.country-name USA
                p.tel.line-height-18
                  i.fa.fa-phone.fa-lg.margin-left-right-1x.pull-left
                  | 1(734)834-7826
                p.email.line-height-18
                  i.fa.fa-envelope-o.fa-lg.margin-left-right-1x.pull-left
                  span bowei_liu@ymail.com
              // //footer-col-inner
            // //contact
        // //container
      // //footer-content
      .bottom-bar
        .container
          small.copyright
            | Copyright @ 2015 
            a(href='http://boweiliu.wordpress.com/', target='_blank') easysublease.com
        // //container
      // //bottom-bar
    include ./includes/authentication_modals.jade
    // jQuery (necessary for Bootstrap's JavaScript plugins) (must have)
    script(src="/javascripts/jquery.min.js")
    // include control logic of jQuery-ui (must have)
    script(src='/plugins/jquery-ui-flick/jquery-ui.js')
    // Include all compiled plugins (below), or include individual files as needed  (must have)
    script(src="/javascripts/bootstrap.min.js")

    //backbone, its dependency and extending(data-binding) (must have)
    script(src="/plugins/backbone/underscore-min.js")
    script(src="/plugins/backbone/backbone-min.js")
    script(src="/plugins/backbone/backbone.epoxy.min.js")

    //import password hashing function (must have)
    script(src='/javascripts/sha3.js') 
    script(src="/javascripts/authentiation_scripts.js")
    block js-addons
    //- posible addons  
    //- Dropzone 
    //- script(src="/plugins/dropzone/dropzone.js")
    //- //- Following is for layout small animation control
    //- script(src="/javascripts/layout_control.js")

    script#preview_template(type='text/template')
      .preview-container.dz-image-preview.text-center
        //-  This is used as the file preview template
        div.preview-image-container
          span.preview
            img(data-dz-thumbnail='')
        div.preview-image-cover
        div.preview-status-container.preview-info-control
          div.name(data-dz-name='')
          strong.error.text-danger(data-dz-errormessage='')
        div.preview-summary-container
          div.size.preview-info-control(data-dz-size='')
          .progress.progress-striped.active.margin-bottom-1x.margin-left-right-2x(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
            .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
        div.preview-buttons-container.preview-info-control
          i.glyphicon.glyphicon-upload.start
          i.glyphicon.glyphicon-ban-circle.cancel(data-dz-remove='')
          i.glyphicon.glyphicon-trash.delete(data-dz-remove='')