doctype html
html
  head
    title= title
    // Latest compiled and minified CSS 
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/fa/css/font-awesome.min.css")
    link(rel='stylesheet' href='/stylesheets/general.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta( charset='utf-8')

  body
    block content
    // jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src="/javascripts/jquery.min.js") 
    // Include all compiled plugins (below), or include individual files as needed 
    script(src="/javascripts/bootstrap.min.js")
    //Dropzone 
    script(src="/plugins/dropzone/dropzone.js")
    //- Following is for layout small animation control
    script(src="/javascripts/layout_control.js")  

    script#preview_template(type='text/template')
      .preview-container.dz-image-preview.text-center
        //-  This is used as the file preview template
        div.preview-image-container
          span.preview
            img(data-dz-thumbnail='')
        div.preview-image-cover
        div.preview-status-container.preview-info-control
          div.name(data-dz-name='')
          strong.error.text-danger(data-dz-errormessage='')
        div.preview-summary-container
          div.size.preview-info-control(data-dz-size='')
          .progress.progress-striped.active.margin-bottom-1x.margin-left-right-2x(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
            .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
        div.preview-buttons-container.preview-info-control
          i.glyphicon.glyphicon-upload.start
          i.glyphicon.glyphicon-ban-circle.cancel(data-dz-remove='')
          i.glyphicon.glyphicon-trash.delete(data-dz-remove='')