html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/stylesheets/yeti_bootstrap.min.css")
    link(href='/plugins/jquery-ui-flick/jquery-ui.css', rel='stylesheet')
    link(rel="stylesheet" href="/plugins/fa/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/specific_01.css")
    link(rel="stylesheet" href="/plugins/dropzone/dropzone.css")
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDEgp09_feK-aKfo_2h3tOcWfzbrByZwDw')
    meta( charset='utf-8')
    block fb_share_metas
  body
    .my-container#my-nav
      nav.navbar.navbar-default.cancel-margin
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.navbar-brand(href='http://easysublease.org') Listing | EasySublease

            form.navbar-form.navbar-left(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search')

          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href="http://listing.easysublease.org/howitworks") How It Works 
              li
                a(href='https://www.linkedin.com/pub/bowei-liu/7b/18b/52')
                  | About me&nbsp;&nbsp;
                  i.fa.fa-linkedin-square.fa-lg
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') recently browsed 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') This droptoggle will be redone

            div.nav.navbar-nav.navbar-right.margin-top-5px
              a.btn.btn-primary(href='#') List Your Space
    
    div(id="site-content" class="main")
      div.subnav-container(id="subnav-container")
        .container
          .row
            div.col-md-8: ul.standard-list.standard-list-horizontal
              li.subnav-item-container.active: a.subnav-item(href="#cover-img") Photos
              li.subnav-item-container: a.subnav-item(href="#details-column") About the listing
              //- li.subnav-item-container: a.subnav-item Reviews
              //- li.subnav-item-container: a.subnav-item The Host
              li.subnav-item-container: a.subnav-item(href="#map-div") Location
      #room
        #photos
          #cover-img-container
            //- I have variable photo_data_modal  JSON.stringified
            block photo
        #summary.panel.room-section
          block summary

        #details.details-section
          block #details
          
        //- #details.details-section
        #neighborhood
          block neighborhood-meta
          .container-fluid.padding-left-right-0x
            #map-div.anchor-position-fix

        #info-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog.modal-sm
            // Modal content
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Info
              .modal-body
                p#info_p Some text in the modal.

    //- bascially obtained from velocity template
    footer.footer
      .footer-content
        .container
          .row
            .footer-col.links.col-md-2.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title About us
                ul.standard-list
                  li
                    i.fa.fa-caret-right
                    a(href='#') Who we are
                  li
                    i.fa.fa-caret-right
                    a(href='#') Press
                  li
                    i.fa.fa-caret-right
                    a(href='#') Blog
                  li
                    i.fa.fa-caret-right
                    a(href='#') Jobs
                  li
                    i.fa.fa-caret-right
                    a(href='#') Contact us
              //footer-col-inner
            //foooter-col
            .footer-col.links.col-md-2.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title Product
                ul.standard-list
                  li
                    i.fa.fa-caret-right
                    a(href='#') How it works
                  li
                    i.fa.fa-caret-right
                    a(href='#') API
                  li
                    i.fa.fa-caret-right
                    a(href='#') Download Apps
                  li
                    i.fa.fa-caret-right
                    a(href='#') pricing
              //footer-col-inner
            //foooter-col
            .footer-col.links.col-md-2.col-sm-4.col-xs-12.sm-break
              .footer-col-inner
                h3.title Support
                ul.standard-list
                  li
                    i.fa.fa-caret-right
                    a(href='#') Help
                  li
                    i.fa.fa-caret-right
                    a(href='#') Documentation
                  li
                    i.fa.fa-caret-right
                    a(href='#') Terms of service
                  li
                    i.fa.fa-caret-right
                    a(href='#') Privacy
              //footer-col-inner
            //foooter-col
            .footer-col.connect.col-md-6.col-sm-12.col-xs-12
              .footer-col-inner
                ul.social.standard-list.standard-list-horizontal
                  li
                    a(href='#', target='_blank')
                      i.fa.fa-twitter.fa-lg
                  li
                    a(href='#')
                      i.fa.fa-facebook.fa-lg
                  li
                    a(href='#')
                      i.fa.fa-google-plus.fa-lg
                  li
                    a(href='#')
                      i.fa.fa-instagram.fa-lg
                  li.row-end
                    a(href='#')
                      i.fa.fa-rss.fa-lg
                .form-container
                  h4.intro Stay up to date with the latest news and offers from Easysublease.org
                // //subscription-form
              // //footer-col-inner
            // //foooter-col
            .clearfix
          // //row
          hr
          .row
            .footer-col.download.col-md-6.col-sm-12.col-xs-12
              .footer-col-inner
                h3.title Mobile apps
                ul.standard-list.download-list
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-apple
                      span.text Download for iOS
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-android
                      span.text Download for Android
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-windows
                      span.text Windows coming soon...
              // //footer-col-inner
            // //download
            .footer-col.contact.col-md-6.col-sm-12.col-xs-12
              .footer-col-inner
                h3.title Contact us
                p.adr.clearfix
                  i.fa.fa-map-marker.fa-lg.margin-left-right-1x.pull-left
                  span.adr-group.pull-left
                    span.street-address 401 Harvey Road
                    br
                    span.region College Station, TX
                    br
                    span.postal-code 77840
                    br
                    span.country-name USA
                p.tel.line-height-18
                  i.fa.fa-phone.fa-lg.margin-left-right-1x.pull-left
                  | 1(734)834-7826
                p.email.line-height-18
                  i.fa.fa-envelope-o.fa-lg.margin-left-right-1x.pull-left
                  span bowei_liu@ymail.com
              // //footer-col-inner
            // //contact
        // //container
      // //footer-content
      .bottom-bar
        .container
          small.copyright
            | Copyright @ 2015 
            a(href='http://boweiliu.wordpress.com/', target='_blank') easysublease.org
        // //container
      // //bottom-bar

    // jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src="/javascripts/jquery.min.js")
    // include control logic of jQuery-ui
    script(src='/plugins/jquery-ui-flick/jquery-ui.js')
    // Include all compiled plugins (below), or include individual files as needed 
    script(src="/javascripts/bootstrap.min.js")
    // Inlcude plugin: galleria
    script(src="/plugins/galleria/galleria-1.4.2.min.js") 

    //backbone, its dependency and extending(data-binding)
    script(src="/plugins/backbone/underscore-min.js")
    script(src="/plugins/backbone/backbone-min.js")
    script(src="/plugins/backbone/backbone.epoxy.min.js")

    //Dropzone 
    script(src="/plugins/dropzone/dropzone.js")

    script(src="/javascripts/my_layout_control.js")

    script#selectable_options_template(type='text/template').
      <div style="display:inline-block">
        <select class="form-control cancel-padding-tb">
        <% _.each(options, function(element, index, array){%> 
          <%if ( Array.isArray(options)) {%>
            <option <%if (selected == element.toString()){%> selected <%}%>  value="<%=element%>"><%=element%></option>
          <% } else  { %>
            <option <%if (selected == element){%> selected <%}%>  value="<%=index%>"><%=element%></option>
          <%}%>
        <%}); %>
        </select> 
      </div>

    script#preview_template(type='text/template')
      .preview-container.dz-image-preview.text-center
        //-  This is used as the file preview template
        div.preview-image-container
          span.preview
            img(data-dz-thumbnail='')
        div.preview-image-cover
        div.preview-status-container.preview-info-control
          div.name(data-dz-name='')
          strong.error.text-danger(data-dz-errormessage='')
        div.preview-summary-container
          div.size.preview-info-control(data-dz-size='')
          .progress.progress-striped.active.margin-bottom-1x.margin-left-right-2x(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
            .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
        div.preview-buttons-container.preview-info-control
          i.glyphicon.glyphicon-upload.start(data-toggle="tooltip" data-placement="bottom" title="Upload" data-delay="0")
          i.glyphicon.glyphicon-ban-circle.cancel(data-dz-remove='' data-toggle="tooltip" data-placement="bottom" title="Cancel uploading" data-delay="0")
          i.glyphicon.glyphicon-trash.delete(data-dz-remove='' data-toggle="tooltip" data-placement="bottom" title="Remove this page" data-delay="0")
          i.glyphicon.glyphicon-picture.set-cover(data-toggle="tooltip" data-placement="bottom" title="Set as cover" data-delay="0") 
    //- Following is for my_layout animation, visual effect control
    //- underscore templates
    //- script#options-template(type="text/template")
    //-   div(style="display:inline-block")
    //-     select.form-contrl
    //-       <% _.each(options, function(element, index, array){ <option><%=element%></option>});  %> 
      
