.line-height-18 {
  line-height: 1.8;
}
.block-it {
  display: block;
}
/*general box positioning classes*/
.hide {
  display: none;
}
.margin-top-0x {
  margin-top: 0px;
}
.margin-top-1x {
  margin-top: 6.25px;
}
.margin-top-5px {
  margin-top: 5px;
}
.margin-top-2x {
  margin-top: 12.5px;
}
.margin-top-3x {
  margin-top: 18.75px;
}
.margin-top-4x {
  margin-top: 25px;
}
.margin-top-8x {
  margin-top: 50px;
}
.margin-bottom-1x,
.row-space-1 {
  margin-bottom: 6.25px;
}
.margin-bottom-2x {
  margin-bottom: 12.5px;
}
.margin-bottom-3x {
  margin-bottom: 18.75px;
}
.margin-bottom-4x {
  margin-bottom: 25px;
}
.margin-bottom-8x {
  margin-bottom: 50px;
}
.margin-left-right-1x {
  margin-right: 6.25px;
  margin-left: 6.25px;
}
.padding-right-1x {
  padding-right: 6.25px;
}
.padding-left-right-0x {
  padding-left: 0;
  padding-right: 0;
}
.padding-left-right-1x {
  padding-left: 6.25px;
  padding-right: 6.25px;
}
/*general-purpose snippts */
a.cancel-color,
a.link-reset {
  color: inherit;
}
a.cancel-color:hover,
a.link-reset:hover {
  color: inherit;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.standard-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.standard-list > li > a {
  padding: 0px 10px;
  color: inherit;
}
.standard-list-horizontal > li {
  float: left;
}
.panel {
  border: 1px solid #dce0e0;
  margin-bottom: 0;
}
.panel .panel-body {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}
.panel .panel-body:first-child {
  border-top: 0;
}
.panel .panel-light {
  background-color: #fff;
}
/*This part is to make the editable*/
.edit-field {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 5px;
  cursor: pointer;
  visibility: hidden;
}
